*{
  margin: 0;
  padding: 0;
}
.App{
  margin: 20px auto;
  width: 600px;
  border: 1px solid #eee;
  display: flex;
  border-radius: 2px;
}
.App>.menu{
  width:150px;
}
.App >.menu> .TaskName {
  margin:5px;
  padding:5px;
  padding-left: 25px;
  border-radius: 2px;
  color: rgb(99,99,101);
  box-shadow: 2px 2px 5px #ddd;
  cursor: pointer;
  background-image: url("./images/tag.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.App>.main{
  flex:1;
  background-color: rgb(252,235,206);
  color: #fff;
}
.App>.main>.State{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
  padding:5px;
}
.App>.main>.State>div{
  margin: 5px 10px;
  text-align: center;
  color: orange;
  cursor: pointer;
}
.App>.main>.State>div.active::after{
  content:" ";
  padding-left: 30px;
  padding-top: 25px;
  position: absolute;
  background-image: url("./images/cat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.App >.main> .list{
  margin: 10px;
  height: 300px;
}
.App >.main> .list >label{
  border-radius: 2px;
  display: block;
  background-color: #FF8C00;
  font-size: 16px;
  padding: 5px;
}
.App >.main> .list >label>input, .App > .main > .list >label> button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
  color: #fff;
}
.App >.main> .list >label >input{
  width: calc(100% - 40px);
}
.App >.main> .list input::input-placeholder{
  color: #fff;
}
.App >.main> .list input::-webkit-input-placeholder{
  color: #fff;
}
.App >.main> .list input::-moz-placeholder{
  color: #fff;
}
.App >.main> .list input::-ms-placeholder{
  color: #fff;
}
input:focus, button:focus{
  outline-offset: 0;
  outline: 0;
}
button:active{
  color: orange;
}
.App >.main> .list >ul{
  margin-top: 10px;
  list-style: none;
}
.listItems > li{
  overflow-wrap: break-word;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  color: rgb(99,99,101);
  margin-bottom: 1px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.listItems >li>label>input{
  margin-right: 5px;
}
.listItems > li >.del{
  color: orange;
}
input[type="checkbox" i]{
  background-color: orange;
  border: 1px solid #d9d9d9
}