*{
  margin: 0;
  padding: 0;
}
.App{
  margin: 20px auto;
  width: 300px;
  border: 1px solid #ddd;
}
.App>.State{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}
.App>.State>div{
  margin: 5px 10px;
  text-align: center;
  color: orange;
  cursor: pointer;
}
.App>.State>div.active::after{
  content:" ";
  padding-left: 30px;
  padding-top: 25px;
  position: absolute;
  background-image: url("./images/cat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.App > .list label{
  border: 1px solid #ddd;
  width: 100%;
  display: block;
}
.App > .list input, .App > .list button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
}
.App > .list input{
  width: calc(100% - 30px);
}
input:focus, button:focus{
  outline-offset: 0;
  outline: 0;
}
button:active{
  color: orange;
}
.list{
  margin: 10px;
  height: 300px;
}
.list >ul{
  margin-top: 10px;
  list-style: none;
}
.list >ul >li{
  overflow-wrap: break-word;
  cursor: pointer;
}
.finished{
  text-decoration: line-through;
}